body{
    font-family: Arial, sans-serif;
    background-color: rgb(141, 48, 63);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.main-box{
    background-color: pink;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 98%;
    align-items: center;
    justify-content: center;
}
.front-img{
    align-self: right;
    width: 30%;
    height: 30%;
    border-radius: 20px;
    padding:20px;
}