<!DOCTYPE html>
<html>
<head>
    <title>ReWear - Register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login-box">
        <form>
            <h1>ReWear</h1>
            <h2>Register</h2>
            <input type="text" placeholder="Enter Name" required>
            <input type="email" placeholder="Enter Email" required>
            <input type="password" placeholder="Create Password" required>
            <input type="password" placeholder="Confirm Password" required>
            <input type="submit" value="Register">
            <p>Already have an account? <a href="index.html">Login</a></p>
        </form>
    </div>
</body>
</html>
