<!DOCTYPE html>
<html>
<head>
    <title>ReWear - Register</title>
    <link rel="stylesheet" href="static/Style.css">
</head>
<body>
    <div class="login-box">
        <form>
            <h1>ReWear</h1>
            <h2>Register</h2>
            <input type="text" id="Name" placeholder="Enter Name" required>
            <input type="email" id="Email" placeholder="Enter Email" required>
            <input type="password" id="Ipassword"  placeholder="Create Password" required>
            <input type="password" id="Password" placeholder="Confirm Password" required>
            <input type="submit" onclick="sendDatareg()" id="Submit" value="Register">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </form>
    </div>
    <script src="static/script.js" defer></script>
</body>
</html>
